
/* Btn outline */

.btn_outline {
	display: flex;
	column-gap: 10px;
	align-items: center;

	height: 42px;
	padding: 12px 20px;

	border-radius: 5px;
	border: 1px solid var(--button-text-color);
	background-color: var(--button-color);
	color: var(--button-text-color);

	transition: opacity 0.2s ease-in;
	font-size: 17px;
	font-weight: bold;
}

.btn_outline:hover {
	opacity: 0.8;
}

.btn_outline:active {
	position: relative;
	top: 1px;
}